<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384232688237-et1tjk29ijal8uo7cbsuqfhdj2h8gapi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384232688237-et1tjk29ijal8uo7cbsuqfhdj2h8gapi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384232688237-ckhi08o2jvpjpg4huikr20o0b0ekfhb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNEQDRG1-QZ_oerxDWFUdF6M0rD7q_hdM</string>
	<key>GCM_SENDER_ID</key>
	<string>384232688237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>g2e.co.kr.flutterStudy2</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-2d627</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-2d627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384232688237:ios:3a22b1dfe5358e5c8a0d64</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-study-2d627.firebaseio.com</string>
</dict>
</plist>